    <!-- Open Graph -->
    <meta property="og:title" content="SADIK KUZU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.sadikkuzu.com"/>
    <meta property="og:image" content="https://live.staticflickr.com/4822/31881692628_a30861c8b0_m.jpg"/>
    <meta property="og:site_name" content="SADIK KUZU"/>
    <meta property="fb:admins" content="610505976"/>
    <meta property="og:description" content="SADIK KUZU, MBA"/>
    <meta property="og:locality" content="Istanbul"/>
    <meta property="og:country-name" content="TR"/>
    <meta property="og:email" content="info@sadikkuzu.com"/>